In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import chart_studio.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly import tools
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [95]:
data = pd.read_csv('novel-corona-virus-2019-dataset/COVID19_open_line_list.csv')
data.head()

,ID,age,sex,city,province,country,wuhan(0)_not_wuhan(1),latitude,longitude,geo_resolution,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,1.0,30,male,"Chaohu City, Hefei City",Anhui,China,1.0,31.646960,117.716600,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,47,male,"Baohe District, Hefei City",Anhui,China,1.0,31.778630,117.331900,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,49,male,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,47,female,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,50,female,"Feidong County, Hefei City",Anhui,China,1.0,32.001230,117.568100,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
data.shape

(14126, 45)

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14126 entries, 0 to 14125
Data columns (total 45 columns):
ID                          13173 non-null float64
age                         1349 non-null object
sex                         1264 non-null object
city                        10194 non-null object
province                    12906 non-null object
country                     13148 non-null object
wuhan(0)_not_wuhan(1)       13170 non-null float64
latitude                    13147 non-null float64
longitude                   13147 non-null float64
geo_resolution              13147 non-null object
date_onset_symptoms         746 non-null object
date_admission_hospital     730 non-null object
date_confirmation           13089 non-null object
symptoms                    493 non-null object
lives_in_Wuhan              565 non-null object
travel_history_dates        503 non-null object
travel_history_location     758 non-null object
reported_market_exposure    35 non-null object
additional_information      2412 non-null object
chronic_disease_binary      18 non-null float64
chronic_disease             13 non-null object
source                      12950 non-null object
sequence_available          1 non-null object
outcome                     184 non-null object
date_death_or_discharge     93 non-null object
notes_for_discussion        187 non-null object
location                    1024 non-null object
admin3                      1159 non-null object
admin2                      9068 non-null object
admin1                      12877 non-null object
country_new                 13079 non-null object
admin_id                    13103 non-null object
data_moderator_initials     17 non-null object
Unnamed: 33                 0 non-null float64
Unnamed: 34                 0 non-null float64
Unnamed: 35                 0 non-null float64
Unnamed: 36                 0 non-null float64
Unnamed: 37                 0 non-null float64
Unnamed: 38                 0 non-null float64
Unnamed: 39                 0 non-null float64
Unnamed: 40                 0 non-null float64
Unnamed: 41                 0 non-null float64
Unnamed: 42                 0 non-null float64
Unnamed: 43                 0 non-null float64
Unnamed: 44                 0 non-null float64
dtypes: float64(17), object(28)
memory usage: 4.8+ MB

In [98]:
data.isna().sum()

ID                            953
age                         12777
sex                         12862
city                         3932
province                     1220
country                       978
wuhan(0)_not_wuhan(1)         956
latitude                      979
longitude                     979
geo_resolution                979
date_onset_symptoms         13380
date_admission_hospital     13396
date_confirmation            1037
symptoms                    13633
lives_in_Wuhan              13561
travel_history_dates        13623
travel_history_location     13368
reported_market_exposure    14091
additional_information      11714
chronic_disease_binary      14108
chronic_disease             14113
source                       1176
sequence_available          14125
outcome                     13942
date_death_or_discharge     14033
notes_for_discussion        13939
location                    13102
admin3                      12967
admin2                       5058
admin1                       1249
country_new                  1047
admin_id                     1023
data_moderator_initials     14109
Unnamed: 33                 14126
Unnamed: 34                 14126
Unnamed: 35                 14126
Unnamed: 36                 14126
Unnamed: 37                 14126
Unnamed: 38                 14126
Unnamed: 39                 14126
Unnamed: 40                 14126
Unnamed: 41                 14126
Unnamed: 42                 14126
Unnamed: 43                 14126
Unnamed: 44                 14126
dtype: int64

In [99]:
data.drop(['Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
          'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44'], axis=1, inplace=True)

In [100]:
data.sex.fillna('Unknown',inplace=True)

In [101]:
data.drop(['admin3', 'admin2', 'admin_id', 'data_moderator_initials', 'sequence_available'], axis=1, inplace=True)

In [102]:
data.sex.replace('Female','female',inplace=True)
data.sex.replace('Male','male',inplace=True)
data.sex.replace('4000','Unknown',inplace=True)

In [103]:
data.city.fillna('Unknown',inplace=True)
data.country.fillna('Unknown',inplace=True)
data['wuhan(0)_not_wuhan(1)'].fillna(0,inplace=True)
data.latitude.fillna('Unknown',inplace=True)
data.longitude.fillna('Unknown',inplace=True)

In [104]:
data.drop(['outcome', 'date_death_or_discharge', 'notes_for_discussion', 'geo_resolution'], axis=1, inplace=True)

In [106]:
data.province.fillna('Unknown',inplace=True)

In [108]:
data.date_confirmation.replace('25.02.2020-26.02.2020','25.02.2020',inplace=True)
data.date_confirmation=pd.to_datetime(data.date_confirmation, dayfirst=True)

In [111]:
data.date_confirmation.fillna('Unknown',inplace=True)

In [116]:
data.date_admission_hospital.replace('18.01.2020 - 23.01.2020','18.01.2020',inplace=True)

In [125]:
data.date_onset_symptoms.replace('end of December 2019','31.12.2020',inplace=True)
data.date_onset_symptoms.replace('none',np.NaN,inplace=True)
data.date_onset_symptoms.replace('10.01.2020 - 22.01.2020','10.01.2020',inplace=True)
data.date_onset_symptoms.replace('20.02.220','20.02.2020',inplace=True)

In [131]:
import datetime as dt
data.date_admission_hospital=pd.to_datetime(data.date_admission_hospital,dayfirst=True)
data.date_onset_symptoms=pd.to_datetime(data.date_onset_symptoms,dayfirst=True)
data['days_before_admission'] = (data.date_admission_hospital-data.date_onset_symptoms).dt.days

In [136]:
data.days_before_admission.fillna('Unknown',inplace=True)
data.date_admission_hospital.fillna('Unknown',inplace=True)
data.date_onset_symptoms.fillna('Unknown',inplace=True)

In [137]:
data.isna().sum()

ID                            953
age                         12777
sex                             0
city                            0
province                        0
country                         0
wuhan(0)_not_wuhan(1)           0
latitude                        0
longitude                       0
date_onset_symptoms             0
date_admission_hospital         0
date_confirmation               0
symptoms                    13633
lives_in_Wuhan              13561
travel_history_dates        13623
travel_history_location     13368
reported_market_exposure    14091
additional_information      11714
chronic_disease_binary      14108
chronic_disease             14113
source                       1176
location                    13102
admin1                       1249
country_new                  1047
days_before_admission       13543
dtype: int64